.bc-p {
    background-color: pink;
}

.bc-r {
    background-color: red;
}

.br-nr {
    background-repeat: no-repeat;
}

.bp-c {
    background-position: center;
}

.c-p {
    color: pink;
}

.c-r {
    color: red;
}